DigitalDataManager/DigitalDataManager/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DigitalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DigitalWcfService.Entityes" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDigitalService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_AddNewImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewImage" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_AddNewImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_UpdateImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateImage" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_UpdateImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_UpdateCatalogVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCatalogVersion" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_UpdateCatalogVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCatalogVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_GetLastCatalogVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCatalogVersion" />
  </wsdl:message>
  <wsdl:message name="IDigitalService_GetLastCatalogVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCatalogVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDigitalService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalService/GetData" message="tns:IDigitalService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalService/GetDataResponse" message="tns:IDigitalService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalService/GetImage" message="tns:IDigitalService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalService/GetImageResponse" message="tns:IDigitalService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalService/AddNewImage" message="tns:IDigitalService_AddNewImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalService/AddNewImageResponse" message="tns:IDigitalService_AddNewImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalService/UpdateImage" message="tns:IDigitalService_UpdateImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalService/UpdateImageResponse" message="tns:IDigitalService_UpdateImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCatalogVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalService/UpdateCatalogVersion" message="tns:IDigitalService_UpdateCatalogVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalService/UpdateCatalogVersionResponse" message="tns:IDigitalService_UpdateCatalogVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastCatalogVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalService/GetLastCatalogVersion" message="tns:IDigitalService_GetLastCatalogVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalService/GetLastCatalogVersionResponse" message="tns:IDigitalService_GetLastCatalogVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDigitalService" type="tns:IDigitalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDigitalService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IDigitalService/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewImage">
      <soap:operation soapAction="http://tempuri.org/IDigitalService/AddNewImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <soap:operation soapAction="http://tempuri.org/IDigitalService/UpdateImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCatalogVersion">
      <soap:operation soapAction="http://tempuri.org/IDigitalService/UpdateCatalogVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastCatalogVersion">
      <soap:operation soapAction="http://tempuri.org/IDigitalService/GetLastCatalogVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DigitalService">
    <wsdl:port name="BasicHttpBinding_IDigitalService" binding="tns:BasicHttpBinding_IDigitalService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DigitalWcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>