DigitalDataManager/DesktopClient/Service References/ServiceReference1/DdmHelpers.FileTree.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DdmHelpers.FileTree.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DdmHelpers.FileTree.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FolderEntity">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FilesPath" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Folders" nillable="true" type="tns:ArrayOfFolderEntity" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FolderEntity" nillable="true" type="tns:FolderEntity" />
  <xs:complexType name="ArrayOfFolderEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FolderEntity" nillable="true" type="tns:FolderEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolderEntity" nillable="true" type="tns:ArrayOfFolderEntity" />
</xs:schema>