DigitalDataManager/FileManager/Service References/DdmServiceReference/DbController.Entityes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DbController.Entityes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbController.Entityes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserDateVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="VersionNumber" type="xs:decimal" />
      <xs:element minOccurs="0" name="VersionXml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDateVersion" nillable="true" type="tns:UserDateVersion" />
</xs:schema>