DigitalDataManager/DdmFileManager/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DdmHelpers.FileTree.Entity" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DbController.TableEntityes" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Ddm.Db.TableEntityes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFolders" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUserTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserTags" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUserTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="IService_AddTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFile" />
  </wsdl:message>
  <wsdl:message name="IService_CreateFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddFileToFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFileToFolder" />
  </wsdl:message>
  <wsdl:message name="IService_AddFileToFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileToFolderResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserFolders" message="tns:IService_GetUserFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserFoldersResponse" message="tns:IService_GetUserFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUserTags" message="tns:IService_GetAllUserTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUserTagsResponse" message="tns:IService_GetAllUserTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddTag" message="tns:IService_AddTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddTagResponse" message="tns:IService_AddTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateFile" message="tns:IService_CreateFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateFileResponse" message="tns:IService_CreateFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFileToFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddFileToFolder" message="tns:IService_AddFileToFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddFileToFolderResponse" message="tns:IService_AddFileToFolder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFolders">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserTags">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUserTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <soap:operation soapAction="http://tempuri.org/IService/AddTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap:operation soapAction="http://tempuri.org/IService/CreateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFileToFolder">
      <soap:operation soapAction="http://tempuri.org/IService/AddFileToFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DdmWcfServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>