Ddm.Db/Ddm.WpfApplication/Service References/DdmServiceReference/Ddm.Db.TableEntityes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ddm.Db.TableEntityes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ddm.Db.TableEntityes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ActivateCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivateCode" nillable="true" type="tns:ActivateCode" />
</xs:schema>